@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

*{
 font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
  .container{
  max-width: 1344px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
 }


  ul {
 list-style: none;
  }

  a{
  text-decoration: none;
  }

  .navContent {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  margin-bottom: 26px;
  }

  .logo {
    width: 140px;
    height: 31px;
  }

  .navList{
    display: flex;
    gap: 46px;
  }

  .navRight {
    display: flex;
    align-items: center;
    gap: 48px;

    a {
      color: #013A4C;
    }
  }

  .btnsolid{
    padding: 8px 17px;
    background: none;
    border-radius: 4px;
    border: 1px solid #346170;
  }
  .btns {
    display: flex;
    align-items: center;
    gap: 8px;


  }
  .btn{
    padding: 11px 17px;
    background: #FFD063;
    border-radius: 4px;
    outline: none;
    border: none;
  }

  .bx-globe {
    font-size: 23px;
  }


  header {
    background: url(img/Rectangle.png) no-repeat center center;
    background-size: cover;
  }

  .header_content {
    padding: 210px 144px 296px 144px;

    h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 76px;
      font-weight: 400;
      color: #013A4C;
      margin-bottom: 31px;
    }

    p{
      font-size: 24px;
      color: #013A4C;
    }

    .btn1 {
      color: #013A4C;
    }

    .btn2 {
      background: #013A4C;
      color: white;
    }
  }

  .wrap {
    display: flex;
    justify-content: space-between;
  }

  .left {
    h1 {
      font-size: 72px;
      color: #F2DCE4;
    }
    p {
      font-size: 21px;
      color: white;
      margin-bottom: 20px;
    }
  }


  main{
    background: #013A4C;
  }

  .bigCard{
    background: #D3E8F4;
    margin-bottom: 128px;
    padding: 31px 96px 0 96px;
    border-radius: 8px;

    .icons{
      display: flex;
      justify-content: space-between;
      text-align: center;
      font-size: 17px;
      padding-bottom: 33px;
      color: #013A4C;
      border-bottom: 1px solid #94B4C2;

      i{
        font-size: 35px;
      }
    }
  }

  .text{
    display: flex;
    justify-content: space-between;
  }
  .textLeft{

    h1{
      font-weight: 700;
      font-size: 55px;
      margin-top: 38px;
      color: #013A4C;
    }
    p{
      color: #013A4C;
      font-size: 21px;
      font-weight: 600;
      margin-top: 11px;
      max-width: 545px;
      width: 100%;
      margin-bottom: 55px;
    }
    .frame{

      h5{
        font-size: 14px;
        font-weight: 400;
        color: #013A4C;
        margin-bottom: 8px;
      }
      .q{
        margin-bottom: 43px;
      }
    }
    a{
      color: #013A4C;
    }
  }
  .textRight{
    margin-right: -96px ;
  }
  .img{
    display: flex;
    justify-content: center;
  }

  .teext{
    position: relative;
    top: 295px;
    left: -200px;
    h1{
      color: #F2DCE4;
      font-size: 73px;
      font-weight: 700;
      margin-bottom: 31px;
    }
    p{
      font-size: 26px;
      font-weight: 400;
      max-width: 470px;
      width: 100%;
      color: white;
      margin-bottom: 25px;
    }
  }

  .tennis{
    position: absolute;
  }
