@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

*{
 font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
  .container{
  max-width: 1344px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
 }


  ul {
 list-style: none;
  }

  a{
  text-decoration: none;
  }

  .navContent {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  margin-bottom: 26px;
  }

  .logo {
    width: 140px;
    height: 31px;
  }

  .navList{
    display: flex;
    gap: 46px;
  }

  .navRight {
    display: flex;
    align-items: center;
    gap: 48px;

    a {
      color: #013A4C;
    }
  }

  .btns {
    display: flex;
    align-items: center;
    gap: 8px;


    a{
      padding: 8px 17px;
      background: none;
      border-radius: 4px;
      border: 1px solid #346170;
    }
  }
  .btn{
    padding: 11px 17px;
    background: #FFD063;
    border-radius: 4px;
    outline: none;
    border: none;
  }

  .bx-globe {
    font-size: 23px;
  }


  header {
    background: url(img/Rectangle.png) no-repeat center center;
    background-size: cover;
  }

  .header_content {
    padding: 210px 144px 296px 144px;

    h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 76px;
      font-weight: 400;
      color: #013A4C;
      margin-bottom: 31px;
    }

    p{
      font-size: 24px;
      color: #013A4C;
    }

    .btn1 {
      color: #013A4C;
    }

    .btn2 {
      background: #013A4C;
      color: white;
    }
  }

  .wrap {
    display: flex;
    justify-content: space-between;
  }

  .left {
    h1 {
      font-size: 72px;
      color: #F2DCE4;
    }
    p {
      font-size: 21px;
      color: white;
    }
  }
  .first{
    background: #013A4C;
  }